/* 
*�룿�듃 1 : �븳�굹泥� 
*/

@font-face {
	font-family: 'Hanna';
	font-style: normal;
	font-weight: 400;
	src: url(//fonts.gstatic.com/ea/hanna/v3/BM-HANNA.eot);
	src: url(//fonts.gstatic.com/ea/hanna/v3/BM-HANNA.eot?#iefix)
		format('embedded-opentype'),
		url(//fonts.gstatic.com/ea/hanna/v3/BM-HANNA.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/hanna/v3/BM-HANNA.woff) format('woff'),
		url(//fonts.gstatic.com/ea/hanna/v3/BM-HANNA.ttf) format('truetype');
}
/*
 * �젣二쇳븳�굹泥�
 */
@font-face {
	font-family: 'Jeju Gothic';
	font-style: normal;
	font-weight: 400;
	src: url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.eot);
	src:
		url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.eot?#iefix)
		format('embedded-opentype'),
		url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.woff2)
		format('woff2'),
		url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.woff)
		format('woff'),
		url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.ttf)
		format('truetype');
}

#header {
	/* Internet Explorer 10 */
	-ms-flex-pack: left;
	
	/* Firefox */
	-moz-box-pack: left;
	
	/* Safari, Opera, and Chrome */
	-webkit-box-pack: left;
	
	/* W3C */
	box-pack: left;
	
	padding: 10px 0px;
}

#pageContentHeader {
	padding: 10px;
	margin-top: 160px;
}

#pageContentHeader a {
	margin: 0 auto;
	display: block;
	width: 225px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#login-form {
	padding: 20px;
	display: block;
	margin-top: -160px;
}

.loginbox {
	font-family: 'Hanna';
	font-size: 25px;
	width: 300px;
	height: 200px;
	margin: 10px auto;
	background: #f5f9fa;
	padding: 50px;
	border-radius: 8px;
	text-align: left;
}

.top {
	width: 100%;
	height: 20%;
	font-size: 18pt;
	font-align: left;
}

.left {
	float: left;
	margin-top: 10px;
	margin-left: 15px;
	width: 25%;
	height: 40%;
}
.right {
	float: right;
	margin-top: 10px;
	margin-right: 20px;
	width: 25%;
	height: 40%;
}
.bottom {
	margin-top: 25px;
	float: left;
	clear: left;
	width: 100%;
	height: 5%;
	font-size: 10pt;
}

.triangle{
  width:0;
  border-top:12x solid transparent;
  border-right:12px solid transparent;
  border-bottom:12px solid #c5f6e3;
  border-left:12px solid transparent;
  position:relative; left: 10px;
}

.loginform {
	font-family: 'Jeju Gothic';
	width: 270px;
	height: 100px;
	margin: auto;
	padding: 15px;
	border-radius: 8px;
	background: #c5f6e3;
	text-align: center;
}

input[type=text] {
	margin-left: 5px;
	font-family: 'Jeju Gothic';
	padding: 5px;
	border: 2px solid #ccc;
	border-radius: 5px;
	width: 150px;
}

input[type=text]:focus {
	outline:0 !important;
	border-color: #19cc95;
	border-radius: 5px;
}

input[type=password] {
	margin-left: 5px;
	margin-top: 2px;
	padding: 5px;
	border: 2px solid #ccc;
	border-radius: 5px;
	width: 150px;
}

input[type=password]:focus {
	outline:0 !important;
	border-color: #19cc95;
	border-radius: 5px;
}

::-webkit-input-placeholder {
	font-family: 'Jeju Gothic';
}


input[type=submit] {
	margin-left: 5px;
	font-family: 'Jeju Gothic';
	margin-top: 3px;
	padding: 5px 17px;
	background: #ccc;
	border: 0 none;
	height: 55px;
	cursor: pointer;
	border-radius: 5px;
}

input[type=submit]:focus {
	outline:0 !important;
}

input[type=submit]:hover {
	background: #7cf1cd;
	color: white;
}

.bottom a:link {
	font-family: 'Jeju Gothic';
	color: #25483d;
	text-decoration: none;
}

.bottom a:visited {
	color: #25483d;
}

.bottom a:hover {
	color: #25483d;
	text-decoration: underline;
}