@CHARSET "UTF-8";

/*
 * 제주한나체
 */
@font-face {
	font-family: 'Jeju Gothic';
	font-style: normal;
	font-weight: 400;
	src: url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.eot);
	src:
		url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.eot?#iefix)
		format('embedded-opentype'),
		url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.woff2)
		format('woff2'),
		url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.woff)
		format('woff'),
		url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.ttf)
		format('truetype');
}


input[type=text] {
	font-family: 'Jeju Gothic';
	padding: 5px;
	border: 2px solid #ccc;
	border-radius: 5px;
	width: 190px;
}
input[type=text]:focus {
	outline:0 !important;
	border-color: #19cc95;
	border-radius: 5px;
}

input[type=button] {
	font-family: 'Jeju Gothic';
	padding: 5px 15px;
	background: #7cf1cd;
	border: 0 none;
	height: 30px;
	cursor: pointer;
	color: white;
	border-radius: 5px;
}

div {
	margin: auto;
}