@CHARSET "UTF-8";

/* 
*폰트 1 : 한나체 
*/
@font-face {
	font-family: 'Hanna';
	font-style: normal;
	font-weight: 400;
	src: url(//fonts.gstatic.com/ea/hanna/v3/BM-HANNA.eot);
	src: url(//fonts.gstatic.com/ea/hanna/v3/BM-HANNA.eot?#iefix)
		format('embedded-opentype'),
		url(//fonts.gstatic.com/ea/hanna/v3/BM-HANNA.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/hanna/v3/BM-HANNA.woff) format('woff'),
		url(//fonts.gstatic.com/ea/hanna/v3/BM-HANNA.ttf) format('truetype');
}

/*
 * 제주한나체
 */
@font-face {
	font-family: 'Jeju Gothic';
	font-style: normal;
	font-weight: 400;
	src: url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.eot);
	src:
		url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.eot?#iefix)
		format('embedded-opentype'),
		url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.woff2)
		format('woff2'),
		url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.woff)
		format('woff'),
		url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.ttf)
		format('truetype');
}

#header {
	/* Internet Explorer 10 */
	-ms-flex-pack: left;
	
	/* Firefox */
	-moz-box-pack: left;
	
	/* Safari, Opera, and Chrome */
	-webkit-box-pack: left;
	
	/* W3C */
	box-pack: left;
	
	padding: 10px 0px;
}

.a{
	position:relative; 
	top: -15px;
}

.b{
	position:relative; 
	top: -15px;
}

.c{
	position:relative; 
	top: -15px;
}

.telBox {
	font-family: 'Hanna';
	width: 370px;
	height: 230px;
	margin: 130px auto;
	background: #f5f9fa;
	padding: 50px;
	border-radius: 8px;
	text-align: left;
	font-size: 20px;
}

.telbox_1{
	font-family: 'Jeju Gothic';
	font-size: 15px;
	width: 340px;
	height: 60px;
	margin: 5px auto;
	padding: 15px;
	border-radius: 8px;
	background: #c5f6e3;
	text-align: center;
}

.telbox_2{
	font-family: 'Jeju Gothic';
	font-size: 15px;
	width: 340px;
	height: 60px;
	margin: 30px auto;
	padding: 15px;
	border-radius: 8px;
	background: #c5f6e3;
	text-align: center;
}

select {
	font-family: 'Jeju Gothic';
	font-weight:bold;
	width: 100px;
	height: 29px;
	padding: 5px;
	border: 2px solid #ccc;
	border-radius: 5px;	
}

select:focus {
	outline:0 !important;
	border-color: #19cc95;
	border-radius: 5px;
}

#tel1 {
	font-family: 'Jeju Gothic';
	width: 85px;
	height: 30px;
}

#tel2 {
	font-family: 'Jeju Gothic';
	font-weight:bold;
	width: 70px;
}

#tel3 {
	font-family: 'Jeju Gothic';
	font-weight:bold;
	width: 70px;
}

.middle1 {
	margin-top: 10px;
	text-align: center;
}

.triangle{
  width:0;
  border-top:12x solid transparent;
  border-right:12px solid transparent;
  border-bottom:12px solid #c5f6e3;
  border-left:12px solid transparent;
  position:relative; left: 10;
}

.middle2 {
	text-align: center;
}


input[type=text] {
	font-family: 'Jeju Gothic';
	font-size: 15px;
	margin-top: 15px;
	padding: 5px;
	border: 2px solid #ccc;
	border-radius: 5px;
	width: 250px;
}

input[type=text]:focus {
	outline:0 !important;
	border-color: #19cc95;
	border-radius: 5px;
}

input[type=button] {
	font-family: 'Jeju Gothic';
	font-size: 15px;
	padding: 7px 10px;
	background: #7cf1cd;
	color: white;
	border: 0 none;
	cursor: pointer;
	border-radius: 5px;
}

input[type=button]:focus {
	outline:0 !important;
}

input[type=button]:hover {
	background: #ccc;
	color: black;
}

input[type=submit] {
	font-family: 'Jeju Gothic';
	font-size: 15px;
	padding: 7px 10px;
	background: #7cf1cd;
	color: white;
	border: 0 none;
	cursor: pointer;
	border-radius: 5px;
}

input[type=submit]:focus {
	outline:0 !important;
}

input[type=submit]:hover {
	background: #ccc;
	color: black;
}

#confirmNum{
	margin-bottom: 100px;
}